In [81]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv("CollisionCheck_preprocessed5.csv",header=None)
df2 = pd.read_csv("CollisionDistance_preprocessed5.csv",header=None)

In [83]:
rows,cols = df.shape

In [84]:
df.iloc[0,0]

'10172'

In [85]:
for i in range(rows):
    if df.iloc[i,0] != "-1:-1" and df.iloc[i,0] != "-1:0":
        # for j in range(cols - 1):
        #     df.iloc[i,j] = df.iloc[i,j+1]
        
        df.iloc[i] = df.iloc[i].shift(1)
        df2.iloc[i] = df2.iloc[i].shift(1)
        df.iloc[i,0] = "-1:-1"
        
    for j in range(cols):
        if pd.isna(df.iloc[i,j]) : break
        if pd.isna(df.iloc[i,j + 1]) and df.iloc[i,j] != "-1:1" and df.iloc[i,j] != "-1:-1":
            df.iloc[i,j+1] = "-1:-1"
            break
        
    for j in range(cols):
        if df.iloc[i,j] == "-1:1":
            if df.iloc[i,j+1] == "-1:-1":
                df.iloc[i,j+1] = "nan"
        
        # temp = df.iloc[i,0]
        # temp2 = df2.iloc[i,0]
        # df.iloc[i,0] = "-1:-1"
        # df2.iloc[i,0] = "None"
        # for j in range(cols):
        #     if pd.isna(df.iloc[i,j+1]): 
        #         break
        #     temp3 = df.iloc[i,j+1]
        #     temp4 = df2.iloc[i,j+1]
        #     df.iloc[i,j+1] = temp
        #     df2.iloc[i,j+1] = temp2
        #     temp = df.iloc[i,j+2]
        #     temp2 = df2.iloc[i,j+2]

In [86]:
df.to_csv("CollisionCheck_preprocessed6.csv", header=None, index=False, na_rep = "None")
df2.to_csv("CollisionDistance_preprocessed6.csv", header=None, index=False, na_rep = "None")

In [87]:
df = pd.read_csv("CollisionCheck_preprocessed6.csv",header=None)
df2 = pd.read_csv("CollisionDistance_preprocessed6.csv",header=None)

In [88]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-1:-1,10172,-1:-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1:-1,217,-1:1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-1:-1,2511,-1:-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-1:-1,1212,-1:-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-1:-1,302,1611,5027,-1:-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
rows, cols = df.shape

In [90]:
# #오름차순 또는 내림차순으로 거리계산

# for i in range(rows):
#     ascending = False
#     decending = False   
#     for j in range(cols):
#         if df.iloc[i,j] == "-1:0" and df.iloc[i,j +1] != "-1:-1":
#             if df2.iloc[i,j] > df2.iloc[i,j+1]: decending = True
#             if df2.iloc[i,j] < df2.iloc[i,j+1]: ascending = True
#         if df.iloc[i,j] == "-1:1" and ~(pd.isna(df.iloc[i,j+1])): 
#             df.iloc[i,j] = "None"
#             df2.iloc[i,j] = "None"
#         if df.iloc[i,j] == "-1:1" and pd.isna(df.iloc[i,j+1]):
#             if df2.iloc[i,j] > df2.iloc[i,j-1]: ascending = True
#             if df2.iloc[i,j] < df2.iloc[i,j-1]: decending = True